<!doctype html>
<html ng-app>

<head>
    <title>AngularJS Test</title>
    <script data-main="js/app" src="js/require.js"></script>
</head>

<body>
    Your name:
    <input type="text" ng-model="yourname" placeholder="World">
    <hr> Hello {{yourname || 'World'}}!
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
                Search:
                <input ng-model="query">
            </div>
            <div class="span10">
                <!--Body content-->
                <ul class="phones">
                    <li ng-repeat="phone in phones | filter:query">
                        {{phone.name}}
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
